.viz-container {
    /* width: 100%;
    height: 100%;
    position: relative; */
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.visible {
    opacity: 1;
    pointer-events: all;
}

#map {
    position: relative;
    z-index: 1;
}

#bar-chart {
    margin-top: 20px;
    position: relative;
}